

html {
    background: #bcbcbc url(background.jpg);
		background-size: 100% 100%;
		background-repeat:no-repeat;
		height: 100%;		 
		min-width: 1200px;
		font-family: 'Expletus Sans', cursive;
}

body {
	height: 100%;
	margin: 0;
}



#wrapper{
	width: 100%;
	
	#logo{
		background: url(logo.png) no-repeat;
		background-position: 20px 10px;
		height: 170px;
		padding: 10px;
		#ads{
			float: right;
			padding: 10px 25px;
			background-color:rgba(255,255,255,0.7);
			width: 35%;
			min-height: 150px;
			border-radius: 30px; 
			-moz-border-radius: 30px; 
			-webkit-border-radius: 30px; 
			border: 2px solid #800000;
		}
	}
	
	#form{
		background-color:rgba(255,255,255,0.7);
		min-height: 350px;
		width: 65%;
		border-radius: 30px; 
		-moz-border-radius: 30px; 
		-webkit-border-radius: 30px; 
		border: 2px solid #800000;
		margin: 10px;
		#form_entry{
			font-size: 16px;
			padding: 15px 20px 0px;
		}
		input{
			font-family: 'Expletus Sans', cursive;
			width: 200px;
		}
		select{
			min-width: 200px;
		}
		.right{
			float: right;
		}
		.center{
			text-align: center;
		}
		
		#submitBtn{
			width: 300px;
		}
		
		#budget{
			text-align: center;
		}
	}
	

}
