<!DOCTYPE html>
<html>
<head>
  <title>Monthly Gas Budget Calculator - budgetmydrive.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>
  
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="assets/ie.css" type="text/css" media="screen" />
  <![endif]-->
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6647173-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <meta name="description" content="Easily determine your monthly gas budget from the latest gas prices and car data.  Get the latest regional gas prices with weekly trend information."/>
  <meta name="keywords" content="monthly, gas, budget, prices, regional">
  <meta name="msvalidate.01" content="EBCF0D264A3D9E0C96F6619B6ED701EF" />
  
</head>

<body>

<div id="wrapper">
  <div id="logo">
    <%-# <div id="ads"></div> -%>
  </div>
<%= yield %>
</div>

</body>
</html>